# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
*.egg-info/
venv/
env/

# Database
*.db
*.sqlite

# Docker
.docker/

# Environment files
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Video files (uploads de usuarios)
# Ignorar videos en directorios de uploads
**/uploads/**/*.mp4
**/uploads/**/*.mov

# PERO permitir assets del worker (intro, outro, etc)
!worker/assets/*.mp4
!worker/assets/*.mov

# PERO permitir assets del testing jmeter
!performance-testing/web-api-tests/scenarios/scenarios/*.mp4
# PERO permitir assets del testing worker
!performance-testing/worker-tests/assets/*.mp4
# Temporary files
tmp/
temp/


# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Key files
*.pem
*.key

# Backup files
*.backup
*.bak

